html {
    background-color: bisque;
}
h1 {
    text-align: center;
}
#top-photo {
    display: block;
    margin: auto;
    padding-bottom: 10px;
}
.disclaimer {
    color: red;
    font-weight: bold;
    display: block;
}
.desc-div {
    border: 2px solid black;
    text-align: center;
}
.desc-div h2, .desc-div p {
    margin: 5px;
    padding: 5px;
}