html {
    background-color: bisque;
}
#mainpage-title {
    text-align: center;
}
.img-div {
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    width: 50%;
}
img {
    width: 300px;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}
.img-h2 {
    text-align: center;
}